body    {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
header nav  {
    background-color: white;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;}
.home {
    background: url('BANNER\ UNDANGAN\ WEB.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.visual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
nav a:hover {
    text-decoration: underline;
}   
main    {
    padding: 20px;
}
footer  {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px;
}